<!DOCTYPE html>
<html id="homePage">
<head>
  <title>Portfolio Home</title>
  <link rel="stylesheet" type="text/css" href="portfolio.css">
  <link href='http://fonts.googleapis.com/css?family=Tillana:400,800' rel='stylesheet' type='text/css'>

<body>

  <div id="navBarWrapper">
    <ul id="navBar">
      <a href="process"> <li>Process</li> </a>
      <a href="backgammon"> <li>Backgammon</li> </a>
      <a href="cubeClock"> <li>Cube Clock</li> </a>
      <a href="analogClock"> <li>Time Piece</li> </a>
      <a href="contact"> <li>Contact</li> </a>
    </ul>
  </div>

  <div id="logo">
    <div id="upper">Pace's</div>
    <div id="lower">Portfolio</div>
  </div>

<!--   <nav class="fake fakeNav">
    <ul class="fake fakeUL">
      <li class="fake fakeLI">Process</li>
      <li class="fake fakeLI">Backgammon</li>
      <li class="fake fakeLI">Cube Clock</li>
      <li class="fake fakeLI">Time Piece</li>
      <li class="fake fakeLI">Contact</li>
    </ul>
  </nav> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>